.contanier{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin: 20px;
}
.a_class{
    font-size: 30px;
   margin-left: 20px;
    
}


.container2{
    
    display: flex;
   justify-content: space-between;
   align-content: space-between;
   flex-wrap: wrap;
}
.inner,.inner2,.inner3,.inner4,.inner5,.inner6{
    margin-bottom: 20px ;
    width: 32%;
    height: 350px;
    border: solid gray;
    border-radius: 10px;
}
.inner7,.inner8{
    margin-bottom: 20px ;
    width: 49%;
    height: 200px;
    border: solid gray;
    border-radius: 10px;
}
